@media (min-width: 1280px) {
  .fixed-bar, .logo-bar, .site-links {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    background-color: #8B4513;
    color: #ffffff;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .fixed-bar, .logo-bar, .site-links {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    background-color: #8B4513;
    color: #ffffff;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .fixed-bar, .logo-bar, .site-links {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: #8B4513;
    color: #ffffff;
  }
}

h1 {
  font-size: 2em;
  font-family: 'Arial', sans-serif;
  color: #8B4513;
}

body {
  background-color: #E5D5B1;
}

.fixed-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #8B4513;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
}

.logo-bar {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #8B4513;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.site-links {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #8B4513;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px;
  margin: 0 5px;
  height: 100px
  background-color: #CCC;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
  font-family: 'Arial', sans-serif;
  color: tan;
}

.button:hover {
  background-color: #8B4513;
}

#main-content {
  margin-top: 200px;
  color: #8B4513;
}

.image-box {
  /*position: fixed;
  top: 220px;
  right: 20px;*/
  width: 100%;
  height: 400px;
  background-color: #eee;
  border: 2px solid #8B4513;
  /*padding: 20px;*/
  margin-bottom: 20px;
  margin-top: 10px;
}

.image-box img {
  width: calc(50% - 40px);
  height: 70%;
  margin: 20px;
  width: 60%;
  border: 2px solid #8B4513;
  display: flex;
  justify-content: center;
  align-items: center;

}
.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box-2 {
  /*position: fixed;
  top: 640px;
  right: 20px;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 400px;
  background-color: #eee;
  border: 2px solid #8B4513;
  padding: 20px;
  margin-bottom: 20px;
}

.image-box-2 img {
  width: 100%;
  height: 100%;
  margin: 20px;
  border: 2px solid #8B4513;
}

.image-box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-box-3 {
  /*position: fixed;
  top: 640px;
  left: 20px;*/
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 400px;
  background-color: #eee;
  border: 2px solid #8B4513;
  padding: 20px;
  margin-bottom: 20px;
}

.image-box-3 img {
  width: 100%;
  height: 100%;
  margin: 20px;
  border: 2px solid #8B4513;
}

h1,
p {
  margin-bottom: 20px;
  color: #8B4513;
}

.footer {
  text-align: center;
  margin-top: 20px;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  background-color: #8B4513;
  color: #fff;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.footer a {
  margin: 0 5px;
  color: #ffffff;
}

.columns {
  position: relative;
}
